.EventCard {
    display: flex;
    background-color: #3f4a61;
    color: white;
    width: 980px;
    height: 450px;
    border-radius: 20px;
    margin: 3rem;
}

.EventCard--name {
    display: flex;
    font-size: 32px;
    margin: 10px 0;
}

img {
    border-radius: 20px 0 0 20px;
}

.EventCard--text {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.EventCard--info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.EventCard--info > p {
    font-size: 16px;
}

p {
    text-align: left;
}

.EventCard--dodatno {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.EventCard--hostName {
    width: 145px;
    background-color: red;
    color: #3f4a61;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 20px;
}

button {
    width: 160px;
    height: 40px;
    background-color: darkgreen;
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 15px;
    font-size: 20px;
}
