.Main {
    background-color: #f4f1bb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 140px;
}

.iconLoadingMain {
    margin-top: 5rem;
    font-size: 200px;

    color: white;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
