.success {
    width: 600px;
    max-width: 100%;
    margin: 100px auto;
    background-color: #545e75;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.success h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.home {
    width: 100%;
    display: flex;
}