.userCard {
    display: grid;
    grid-template-columns: 230px 260px 120px auto;
    align-items: center;
    width: 900px;
    height: 80px;
    border: 1px solid black;
    background-color: #fadfdf;
}

.userCard p{
    margin: auto 15px;
}

.actions{
    display: flex;
    gap: 5px;
    width: 130px;
    margin: auto;
}