.userCard {
    display: grid;
    grid-template-columns: 200px 280px 165px auto;
    align-items: center;
    width: 865px;
    height: 80px;
    border: 1px solid black;
    background-color: #fadfdf;
}

.userCard p{
    margin: auto 15px;
}

.actions{
    width: 130px;
    margin: auto;
}