.popup {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit--form {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.edit--form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: gray;
  font-family: "Poppins", sans-serif;
}

.edit--form input[type="text"],
.edit--form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.edit--form input[type="submit"],
.close-btn {
  width: 100%;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-color: #533b4d;
  color: #f4f1bb;
  border: 2px solid #f4f1bb;
  border-radius: 15px;
  font-size: 20px;
}

.edit--form input[type="submit"]:hover,
.close-btn:hover {
  background-color: darkred;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.iconDiv {
  display: flex;
}

.iconCheck {
  color: green;
  display: none;
}

.iconX {
  color: red;
  display: none;
}

.iconCheck.visible,
.iconX.visible {
  font-size: 20px;
  margin-left: 10px;
  display: initial;
}

.selectEventTypesText,
.selectPlaceText {
  display: block;

  font-size: 14px;
  color: gray;
  font-family: "Poppins", sans-serif;
  margin-left: 0;
  cursor: pointer;
}

.dropdown-toggle {
  display: flex;
  margin-bottom: 1rem;
}

.dropdown-icon {
  color: gray;
  font-size: 25px;
  padding-top: 2px;
  cursor: pointer;
}

.dropdown-options {
  max-height: 100px;
  overflow: scroll;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.dropdown-options > div {
  cursor: pointer;
  width: fit-content;
}

.selected {
  background-color: lime;
  width: fit-content;
  cursor: pointer;
}
